/* body {
  margin: 0;
  display: block;
}
nav {
  background-color: #FA320A;
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  list-style: none;
  padding: 1rem;
}

main, .card {
  min-height: 80%;
  max-width: 768px;
  margin: 1rem auto;
}

.card .title {
  margin-top: 50px;
  text-align: center;
}

footer {
  padding: 1rem;
  color: #fff;
  text-align: center;
  background-color: #FA320A;
}

.item {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
} */